
 <div class='col-xs-3'>
 	
 	<% if flash[:create]%>
   <p class="flash-txt"><%= flash[:create] %></p>
  <% end %>

  <% if flash[:upadte]%>
   <p class="flash-txt"><%= flash[:update] %></p>
  <% end %>

<h2>User info</h2>
<table class='table'>
	<tr><%= attachment_image_tag user, :profile_image, :fill,100,100,format:"jpeg",fallback: "no_image.jpg"  %></tr>
	<tr>
	   <th>name</th>
	   <th><%= user.name %></th>
	</tr>
	<tr>
	   <th>introduction</th>
	   <th><%= user.introduction %></th>
	</tr>
</table>


<% if user.id == current_user.id %>
<div class='row'>
  	<%= link_to "edit",edit_user_path(current_user.id) %>
</div>
<% else %>
<div class='row'>
  	<%= link_to "edit",user_path(user.id) %>
</div>
<% end %>

<h2>New book</h2>
<%= form_for(book) do |f|%>
<p>title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<div class="actions row"><%= f.submit %></div>
<% end %>
</div>
